<style type="text/css">
.text4{
    font-family: 'Alegreya', serif;
}
.text2{
    font-family: 'Fira Sans Extra Condensed', sans-serif;
}
.text3{
    font-family: 'Lobster', cursive;
}
.gradient{
font-family: 'Neucha', cursive;
background: linear-gradient(45deg, #3b06fa 33%, #0044ff 66%, #4f0af1 99%);
color: white;
font-size: 10pt;
height: 30px;
}
</style>
</head>
</body>
</html>
